@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 18px;
	background-color: #222;
	color: #aaa;
	padding: 10px;
}

.subtitle {
	font-size: 16px;
  opacity: 0.8
}

#content {
	margin: 0 auto;
	max-width: 1000px;
}

p {
	font-size: 16px;
}

h1 {
	font-size: 40px;
	line-height: 34px;
}

h2 {
	font-size: 30px;
	line-height: 25px;
}

h3 {
	font-size: 20px;
	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
}

hr {
	height: 1px;
	background-color: #d8d8d8;
	border: none;
	width: 100%;
	margin: 0px;
}

a[href] {
	color: #1e8ad6;
}

a[href]:hover {
	color: #3ba0e6;
}

img {
	max-width: 100%;
}

li {
	line-height: 1.5em;
}

/* Code Highlight */
.org-src-container, .example {
    background-color: #DBE4EE;
    opacity: 0.8;
    border-radius: 10px;
    padding: 10px;
   	color: #43373d;
    overflow-x: auto;
}

.org-src-container + .example::before {
  content: "RESULT: " ;
}

.org-keyword {
    color: #a46878
}

.org-function-name {
    color: #c08843
}

.org-variable-name {
    color: #ba3040
}

.org-string {
    color: #7c8059
}

.org-comment {
    color: #907b89
}

.org-doc {
    color: #a9b742
}
